In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_recall_fscore_support

## Data Importation

In [6]:
data_path = "./creditcard.csv"
data = pd.read_csv(data_path)
data.Time = data.Time.astype(int)  # Always positive natural numbers
data["Class"] = data["Class"].astype(int)

In [7]:
data.drop(["Time"], axis=1, inplace=True)

In [9]:
y = data["Class"]
X = data.drop(["Class"], axis=1)
target_labels = ["Fraud", "Normal"]

In [12]:
X.head(5)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

## Data Overview

In [44]:
print("Unique data types: {}".format(np.unique(data.dtypes)))

Unique data types: [dtype('int32') dtype('int64') dtype('float64')]

In [42]:
print("Any NULL value in the data: {}".format(data.isna().any().any()))

Any NULL value in the data: False

In [59]:
X.iloc[:, :10].describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05
mean,94813.859575,3.919560e-15,5.688174e-16,-8.769071e-15,2.782312e-15,-1.552563e-15,2.010663e-15,-1.694249e-15,-1.927028e-16,-3.137024e-15
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01

In [60]:
X.iloc[:, 10:20].describe()

,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19
count,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05
mean,1.768627e-15,9.170318e-16,-1.810658e-15,1.693438e-15,1.479045e-15,3.482336e-15,1.392007e-15,-7.528491e-16,4.328772e-16,9.049732e-16
std,1.088850e+00,1.020713e+00,9.992014e-01,9.952742e-01,9.585956e-01,9.153160e-01,8.762529e-01,8.493371e-01,8.381762e-01,8.140405e-01
min,-2.458826e+01,-4.797473e+00,-1.868371e+01,-5.791881e+00,-1.921433e+01,-4.498945e+00,-1.412985e+01,-2.516280e+01,-9.498746e+00,-7.213527e+00
25%,-5.354257e-01,-7.624942e-01,-4.055715e-01,-6.485393e-01,-4.255740e-01,-5.828843e-01,-4.680368e-01,-4.837483e-01,-4.988498e-01,-4.562989e-01
50%,-9.291738e-02,-3.275735e-02,1.400326e-01,-1.356806e-02,5.060132e-02,4.807155e-02,6.641332e-02,-6.567575e-02,-3.636312e-03,3.734823e-03
75%,4.539234e-01,7.395934e-01,6.182380e-01,6.625050e-01,4.931498e-01,6.488208e-01,5.232963e-01,3.996750e-01,5.008067e-01,4.589494e-01
max,2.374514e+01,1.201891e+01,7.848392e+00,7.126883e+00,1.052677e+01,8.877742e+00,1.731511e+01,9.253526e+00,5.041069e+00,5.591971e+00

In [61]:
X.iloc[:, 20:].describe()

,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
count,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000
mean,5.085503e-16,1.537294e-16,7.959909e-16,5.367590e-16,4.458112e-15,1.453003e-15,1.699104e-15,-3.660161e-16,-1.206049e-16,88.349619
std,7.709250e-01,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109
min,-5.449772e+01,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000
25%,-2.117214e-01,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000
50%,-6.248109e-02,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000
75%,1.330408e-01,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000
max,3.942090e+01,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000

In [58]:
y.describe()

count    284807.000000
mean          0.001727
std           0.041527
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Class, dtype: float64

## Class Distribution

In [16]:
print("Percentage of frauds in the data: {:.4f} %".format(y[y == 1].count() / y[y == 0].count() * 100))

Percentage of frauds in the data: 0.1730 %

## Split train/test

In [26]:
from sklearn.model_selection import train_test_split

test_ratio = 0.5
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_ratio, random_state=13)

In [27]:
print("Frauds in the training set: {}".format(y_train[y_train == 1].count()))
print("Frauds in the testing set: {}".format(y_test[y_test == 1].count()))

Frauds in the training set: 251
Frauds in the testing set: 241

## Normalize data

In [30]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train.iloc[:, 1:])
X_train["Amount"] = scaler.fit_transform(X_train["Amount"].values.reshape(-1, 1))
# X_test_scaled = scaler.transform(X_test.iloc[:, 1:])
X_test["Amount"] = scaler.transform(X_test["Amount"].values.reshape(-1, 1))

C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [24]:
print("Train shape: {}".format(X_train.shape))
print("Test shape: {}".format(X_test.shape))

Train shape: (142403, 29)
Test shape: (142404, 29)

## XGBoost

In [33]:
from sklearn.ensemble import GradientBoostingClassifier

xgb = GradientBoostingClassifier(learning_rate=0.1, n_estimators=100, max_depth=7, random_state=13)
xgb.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=7,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=13,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [35]:
probs = xgb.predict_proba(X_test)
probs = probs[:, 1]
y_pred = xgb.predict(X_test)

In [36]:
accuracy = accuracy_score(y_test, y_pred)
precision, recall, f_score, support = precision_recall_fscore_support(y_test, y_pred, average='binary')
print("Accuracy: {:0.4f}, Precision: {:0.4f}, Recall: {:0.4f}, F-score: {:0.4f}".format(
                accuracy, precision, recall, f_score))
print()
print("Confusion Matrix")
print(confusion_matrix(y_test, y_pred))  # True on the lines, predicted in the columns [[tn, fp], [fn, tp]]
print()
print("Classification Report")
print(classification_report(y_test, y_pred, target_names=target_labels, digits=4))

Accuracy: 0.9993, Precision: 0.8145, Recall: 0.7469, F-score: 0.7792

Confusion Matrix
[[142122     41]
 [    61    180]]

Classification Report
              precision    recall  f1-score   support

       Fraud     0.9996    0.9997    0.9996    142163
      Normal     0.8145    0.7469    0.7792       241

   micro avg     0.9993    0.9993    0.9993    142404
   macro avg     0.9070    0.8733    0.8894    142404
weighted avg     0.9993    0.9993    0.9993    142404

## Random Forest

In [37]:
from sklearn.ensemble import RandomForestClassifier

anomaly_ratio = data["Class"][data["Class"] == 1].count() / len(data)
class_weights = {0: 1, 1: anomaly_ratio}

rf = RandomForestClassifier(n_estimators=100, max_depth=20, random_state=13, class_weight=class_weights)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True,
            class_weight={0: 1, 1: 0.001727485630620034}, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=13, verbose=0, warm_start=False)

In [38]:
probs = rf.predict_proba(X_test)
probs = probs[:, 1]
y_pred = rf.predict(X_test)

In [39]:
accuracy = accuracy_score(y_test, y_pred)
precision, recall, f_score, support = precision_recall_fscore_support(y_test, y_pred, average='binary')
print("Accuracy: {:0.4f}, Precision: {:0.4f}, Recall: {:0.4f}, F-score: {:0.4f}".format(
                accuracy, precision, recall, f_score))
print()
print("Confusion Matrix")
print(confusion_matrix(y_test, y_pred))  # True on the lines, predicted in the columns [[tn, fp], [fn, tp]]
print()
print("Classification Report")
print(classification_report(y_test, y_pred, target_names=target_labels, digits=4))

Accuracy: 0.9995, Precision: 0.9534, Recall: 0.7635, F-score: 0.8479

Confusion Matrix
[[142154      9]
 [    57    184]]

Classification Report
              precision    recall  f1-score   support

       Fraud     0.9996    0.9999    0.9998    142163
      Normal     0.9534    0.7635    0.8479       241

   micro avg     0.9995    0.9995    0.9995    142404
   macro avg     0.9765    0.8817    0.9238    142404
weighted avg     0.9995    0.9995    0.9995    142404